{% extends "zerver/base.html" %}
{# Login page. #}

{% block customhead %}
{{ render_bundle('translations') }}
{{ render_bundle('portico') }}
{{ render_bundle('signup') }}
{% endblock %}

{% block content %}

    {% if password_auth_enabled %}
    <script>
        {% if email %}
        common.autofocus('#id_password');
        {% else %}
        common.autofocus('#id_username');
        {% endif %}
    </script>
    {% endif %}


    <div class="app login-page">
        <div class="app-main login-page-container login-page-new">
            <div class="left">
                <img src="/static/images/logo/loopzero_logo_medium.png" class="logo-image no-drag" alt=""/>
                <p class="site-description">
                    <em>A curated community </em>of individuals who deeply understand the content they <u>consume</u>, <u>create</u> and <u>share</u>.
                </p>
            </div>
            <div class="right">
                {% if only_sso %}
                    {# SSO users don't have a password. #}

                    <div class="login-sso">
                        <a id="sso-login" href="/accounts/login/sso/?next={{ next }}" class="btn btn-large btn-primary">
                            {{ _('Log in with %(identity_provider)s', identity_provider="SSO") }}
                        </a>
                    </div>

                {% else %}
                    {# Non-SSO users. #}
                    {% if no_auth_enabled %}
                        <div class="alert">
                            <p>No authentication backends are enabled on this
                            server yet, so it is impossible to login!</p>

                            <p>See the <a href="https://zulip.readthedocs.io/en/latest/production/install.html#step-3-configure-zulip">Zulip
                            authentication documentation</a> to learn how to configure authentication backends.</p>
                        </div>
                    {% else %}
                        {% if password_auth_enabled %}
                            <form name="login_form" id="login_form" method="post" class="login-form"
                              action="{{ url('django.contrib.auth.views.login') }}?next={{ next }}">

                                {% if two_factor_authentication_enabled %}
                                {{ wizard.management_form }}
                                {% endif %}
                                {{ csrf_input }}

                                <!-- .no-validation is for removing the red star in CSS -->
                                {% if not two_factor_authentication_enabled or wizard.steps.current == 'auth' %}
                                <div class="input-box no-validation">
                                    <label for="id_username">
                                        {% if not require_email_format_usernames and email_auth_enabled %}
                                        {{ _('Email or username') }}
                                        {% elif not require_email_format_usernames %}
                                        {{ _('Username') }}
                                        {% else %}
                                        {{ _('Email') }}
                                        {% endif %}
                                    </label>
                                    <input id="id_username" type="{% if not require_email_format_usernames %}text{% else %}email{% endif %}"
                                      name="username" class="{% if require_email_format_usernames %}email {% endif %}required"
                                      {% if email %} value="{{ email }}" {% else %} value="" {% endif %}
                                      maxlength="72" required />
                                </div>

                                <div class="input-box no-validation">
                                    <label for="id_password" class="control-label">{{ _('Password') }}</label>
                                    <input id="id_password" name="password" class="required" type="password" required />
                                </div>
                                {% else %}
                                {% include "two_factor/_wizard_forms.html" %}
                                {% endif %}

                                {% if form.errors %}
                                <div class="alert alert-error">
                                    {% for error in form.errors.values() %}
                                    <div>{{ error | striptags }}</div>
                                    {% endfor %}
                                </div>
                                {% endif %}

                                {% if already_registered %}
                                <div class="alert">
                                    {{ _("You've already registered with this email address. Please log in below.") }}
                                </div>
                                {% endif %}

                                {% if subdomain %}
                                <div class="alert">
                                    {{ wrong_subdomain_error }}
                                </div>
                                {% endif %}

                                <button type="submit" name="button" class="full-width">
                                    <img class="loader" src="/static/images/loader.svg" />
                                    <span class="text">{{ _("Log in") }}</span>
                                </button>
                            </form>

                            {% if any_oauth_backend_enabled %}
                            <div class="or"><span>{{ _('OR') }}</span></div>
                            {% endif %}

                        {% endif %} <!-- if password_auth_enabled -->

                        {% if google_auth_enabled %}
                        <div class="login-social">
                            <form id='google_login_form' class="form-inline" action="{{ url('zerver.views.auth.start_google_oauth2') }}" method="get">
                                <input type="hidden" name="next" value="{{ next }}">
                                <button class="login-social-button login-google-button full-width">
                                    {{ _('Log in with %(identity_provider)s', identity_provider="Google") }}
                                </button>
                            </form>
                        </div>
                        {% endif %}

                        {% if github_auth_enabled %}
                        <div class="login-social">
                            <form id='social_login_form' class="form-inline github-wrapper" action="{{ url('login-social', args=('github',)) }}" method="get">
                                <input type="hidden" name="next" value="{{ next }}">
                                <button class="login-social-button">
                                    {{ _('Log in with %(identity_provider)s', identity_provider="GitHub") }}
                                </button>
                            </form>
                        </div>
                        {% endif %}

                        <div class="actions">
                            {% if email_auth_enabled %}
                            <a class="forgot-password" href="/accounts/password/reset/">{{ _('Forgot your password?') }}</a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <script>
    if (window.location.hash.substring(0, 1) === "#") {
        /* We append the location.hash to the formaction so that URL can be
        preserved after user is logged in. See this:
        https://stackoverflow.com/questions/5283395/url-hash-is-persisting-between-redirects */
        var email_formaction = $("#login_form").attr('action');
        $("#login_form").attr('action', email_formaction + '/' + window.location.hash);
        $("#google_login_form input[name='next']").attr('value', '/' + window.location.hash);
        $("#social_login_form input[name='next']").attr('value', '/' + window.location.hash);

        var sso_address = $("#sso-login").attr('href');
        $("#sso-login").attr('href', sso_address + window.location.hash);
    }
    </script>

{% endblock %}
