<!-- Google / Search Engine Tags -->
{% if allow_search_engine_indexing %}
<meta name="description" content="A curated community of individuals who deeply understand the content they consume, create and share.">
{% else %}
<meta name="robots" content="noindex,nofollow">
{% endif %}
<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ realm_uri }}">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Loop Zero">
<meta property="og:title" content="A curated community for the infinitely curious.">
<meta property="og:description" content="A curated community of individuals who deeply understand the content they consume, create and share.">
<meta property="og:image" content="{{ realm_uri }}/static/images/logo/zulip-icon-128x128.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary">
<meta property="twitter:title" content="A curated community for the infinitely curious.">
<meta name="twitter:description" content="A curated community of individuals who deeply understand the content they consume, create and share.">
<meta name="twitter:image" content="{{ realm_uri }}/static/images/logo/zulip-icon-128x128.png">
