{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block content %}
<p>{{ _('Hi!') }}
</p>

<p>
    We received a request to change the email address for the <a href="{{ realm_uri }}/" target="_blank">Loop Zero</a> account from <b>{{ old_email }}</b> to <b><em>{{ new_email }}</em></b>.
    <br />If you would like to confirm this change, please click below:
    <a class="button" href="{{ activate_url }}">{{_('Confirm email change') }}</a>
</p>

<p>
    If you did not request this change, please contact us immediately at
    <a href="mailto:{{ support_email }}">{{ support_email }}</a>.
</p>

<p>
    {{ _("Cheers,") }}<br />
    {{ _("Armaan from Loop Zero") }}
</p>
{% endblock %}
