{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block content %}
<p>Hi {{ full_name }},</p>


<p>You can log in to your {{ realm_name }} account at the following link:</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <a href="{{ realm_uri }}" target="_blank">{{ realm_uri }}</a>
        </td>
    </tr>
</table>

<p>The email address associated with your account is <em>{{ email }}</em>.</p>

<p>If you have trouble logging in, please contact Loop Zero support by replying to this email.</p>

<p>{{ _("Thanks for being a part of Loop Zero!") }}</p>
{% endblock %}
