{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block content %}
<p>Hey,</p>

<p><span class="highlight"><strong>I wanted to share one last thing with you: a few small tips for using <a href="{{ realm_uri }}/" target="_blank"><em>Loop Zero</em></a> like a pro.</strong></span></p>

<h2>Subscribe to streams</h2>
<p>The first thing I'll have you do is go through the list of available streams.
    These are fields that you are well versed in and want to be up to date with on a daily basis.
    <a href="{{ realm_uri }}/#streams" target="_blank"><strong>Click here</strong></a> for a <em>full list of streams</em> on the web app.
    To subscribe to a stream, click it and press the <em>Subscribe</em> button.
</p>
<h2>Discuss topics of interest</h2>
<p>Loop Zero is a fully capable tool for communicating including <b>emoji, pictures, links, attachments and more</b>.
    You will find people posting interesting content across a range of topics and streams. If you have something intelligent to say,
    do not hesitate for a second to <b>add your thoughts</b>. Thats what the platform is for!
</p>
<h2>Share links that wow you</h2>
<p>The platform is predicated on the idea that if everyone in the community shares <b>something that excites them</b> in an area they have expertise in,
    the community will be a lot smarter as a whole.
</p>
<p>
    <b>Share that article</b> when you're done reading, and you think <em>"wow, people should know about this"</em>.
    To share a link, just click the "New Topic" button in a stream of relevance, give the topic a relevant name and paste in the link in the message box.
    Hopefully, someone else finds it interesting too!
</p>

<p><a href="{{ realm_uri }}">Take it for a spin now.</a></p>

<p>Thanks,<br />Armaan from Loop Zero</p>
{% endblock %}

{% block manage_preferences %}

<p>
    <a href="{{ realm_uri }}/#settings/notifications">Manage email preferences</a> |
    <a href="{{ unsubscribe_link }}">Unsubscribe from welcome emails</a>
</p>
{% endblock %}
