{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block content %}
<p>{{ _("Hi,") }}</p>
<p>
    Just wanted to let you know that the email associated with your <b><a href="http://www.loopzero.in/" target="_blank"><em>Loop Zero</em></a></b> account was recently changed to <a href="{{ new_email }}">{{ new_email }}</a>.
</p>
<p>
    If you did not request this change, please contact us immediately at <a href="mailto:{{ support_email }}"><b>{{ support_email }}</b></a>.
</p>
<p>
    {{ _("Best,") }}<br />
    {{ _("Armaan from Loop Zero") }}
</p>
{% endblock %}
